WEBSITE_URL="http://localhost:4321" # The URL your Website is hosted at. (e.g. http://localhost:4321 locally and https://mywebsite.com deployed)
SITE_ENV="development" # production, preview or development. Set by the Render build in render.yaml
